<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<timestamp key="bySecond" datePattern="HH':'mm':'ss" />

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${OPENSHIFT_DATA_DIR}/logs/bm.log</file>
		<append>false</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${OPENSHIFT_DATA_DIR}/logs/bm.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- keep 10 days' worth of history -->
			<maxHistory>10</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- rotate each log at 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- make sure we dont go above 100MB -->
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}: %-5p: %c - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="es.juanlsanchez.bm" level="info" />
	<root level="warn">
		<appender-ref ref="file" />
	</root>
</configuration>

